* {
    background: #F7F7F7;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #333333;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #999999;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("/imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #333333;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn_desencriptar {
    background: #FFEB3B;
    border: 1px solid #FBC02D;
    border-radius: 24px;
    color: #333333;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn_encriptar {
    background-color: #FFC107;
    border: 1px solid #FFA000;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #FFEB3B;
    border-radius: 24px;
    color: #333333;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacion {
    color: #616161;
    font-size: 18px;
}
